.about {
  margin-bottom: 240px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.about__tabs {
  width: 899px;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.about__tabs-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 90px;
  border-bottom: 1px solid $dark-opacity;

  @media (max-width: $tablet-width) {
    margin-bottom: 33px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 23px;
  }
}

.about__tab-title {
  @include font-set(20px, auto, 500);
  letter-spacing: -0.41px;
  color: $dark;
  opacity: 0.3;
  cursor: pointer;
}

.about__tab-title--active {
  color: $basic;
  opacity: 1;
}

.about__title {
  @include font-set(55px, 90px, 600);
  letter-spacing: -1.25px;
  color: $dark;
  position: relative;
  grid-area: title;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width) {
    @include font-set(30px, 150%, 600);
    text-align: center;
    letter-spacing: 0;
  }

  @media (max-width: $mobile-width) {
    @include font-set(24px, 150%, 600);
  }

  &::after {
    content: "";
    position: absolute;
    width: 175px;
    height: 3px;
    bottom: -20px;
    left: 5px;
    background-color: $basic;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.about__describe {
  @include font-set(16px, 28px, 400);
  letter-spacing: -0.47px;
  color: $dark;
  opacity: 0.7;
  width: 370px;
  grid-area: describe;
  margin: 0;
  margin-top: 46px;

  @media (max-width: $tablet-width) {
    @include font-set(16px, 28px, 400);
    text-align: center;
    width: auto;
    margin: 0 21px;
  }
}

.about__button {
  @include font-set(12px, auto, 600);
  letter-spacing: 2px;
  width: 250px;
  padding: 30px 0;
  grid-area: button;
  align-self: end;

  &:hover,
  &:focus {
    background-color: $basic-hover;
  }

  @media (max-width: $tablet-width) {
    @include font-set(10px, auto, 500);
    padding: 16px 0;
    align-self: center;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    padding: 16px 0;
    width: 288px;
    align-self: center;
  }
}

.about__tab-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 90px 368px 112px 16px;
  grid-template-areas: "title picture"
    "describe picture"
    "button picture"
    ". picture";

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 67px 169px 96px 419px;
    grid-template-areas: "title"
      "describe"
      "button"
      "picture";
  }

  @media (max-width: $mobile-width) {
    grid-template-rows: 56px 382px 130px 419px;
  }
}

.about__image {
  width: 430px;
  height: 596px;

  @media (max-width: $tablet-width) {
    width: auto;
    height: auto;
  }
}

.about__feedback {
  background-color: $white;
  width: 382px;
  min-height: 367px;
  position: absolute;
  top: 230px;
  left: 788px;
  box-sizing: border-box;
  padding: 40px 30px 30px;

  @media (max-width: $tablet-width) {
    top: 485px;
    left: 195px;
  }

  @media (max-width: $mobile-width) {
    width: 268px;
    min-height: 431px;
    top: 680px;
    left: 26px;
    padding: 32px 20px 34px;
  }
}

.about__fedback-title {
  @include font-set(30px, auto, 500);
  letter-spacing: -0.69px;
  margin: 0;
  margin-bottom: 43px;
  position: relative;

  @media (max-width: $mobile-width) {
    @include font-set(20px, auto, 500);
    text-align: center;
    margin-bottom: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 68px;
    height: 1px;
    top: 40px;
    left: 0;
    background-color: $basic;

    @media (max-width: $mobile-width) {
      top: 35px;
      left: 80px;
    }
  }
}

.about__fedback-text {
  @include font-set(14px, 28px, 400);
  letter-spacing: -0.41px;
  margin-bottom: 40px;

  @media (max-width: $mobile-width) {
    text-align: center;
    margin-bottom: 65px;
  }
}

.about__fedback-author {
  @include font-set(16px, auto, 500);
  letter-spacing: -0.47px;
  margin: 0;
  padding-left: 55px;
  position: relative;
}

.about__feedback-avatar {
  position: absolute;
  top: -10px;
  left: 0;

  @media (max-width: $mobile-width) {
    top: -50px;
    left: 94px;
  }
}

.about__picture {
  grid-area: picture;
  align-self: end;
  justify-self: end;

  @media (max-width: $tablet-width) {
    align-self: auto;
    justify-self: center;
    width: auto;
  }
}

.about__container {
  position: relative;
}
