.page-header {
  padding: 0;
  margin: 0;
  padding-left: 375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  min-height: 99px;

  @media (max-width: $tablet-width) {
    background-color: red;
    min-height: 50px;
    padding: 0;
  }
}

