.places {
  margin-bottom: 96px;

  @media (max-width: $mobile-width) {
    margin-bottom: 38px;
  }
}


.places__wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    align-items: center;
  }
}

.places__title {
  @include font-set(55px, 80px, 600);
  letter-spacing: -1.25px;
  color: $dark;
  width: 358px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 229px;
    height: 4px;
    bottom: -35px;
    left: 0;
    background-color: $basic;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    @include font-set(30px, 150%, 600);
    letter-spacing: 0;
    width: auto;
    text-align: center;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    @include font-set(24px, 150%, 600);
  }
}

.places__slogan {
  @include font-set(16px, 28px, 400);
  letter-spacing: -0.47px;
  color: $dark;
  opacity: 0.7;
  width: 328px;
  margin-bottom: 58px;

  @media (max-width: $tablet-width) {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    width: 343px;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 18px;
  }
}

.places__list {
  @include list-reset;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: $tablet-width) {
    justify-content: space-between;
    padding: 0 81px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
    gap: 31px;
    margin: 0 auto;
  }
}

.places__item {
  &:not(:nth-child(1)) {
    margin-left: 60px;
  }

  &:nth-child(4) {
    margin-left: 175px;
    margin-top: 96px;
  }

  &:nth-child(5) {
    margin-left: 120px;
    margin-top: 96px;
  }

  @media (max-width: $tablet-width) {
    &:not(:nth-child(1)) {
      margin-left: 0;
    }

    &:nth-child(4) {
      margin-left: 0;
      margin-top: 14px;
    }

    &:nth-child(3) {
      margin-top: 14px;
    }

    &:nth-child(5) {
      margin-left: 160px;
      margin-top: 26px;
    }
  }

  @media (max-width: $mobile-width) {
    &:nth-child(5) {
      margin-left: 0;
      margin-top: 0;
    }

    &:nth-child(3) {
      margin-top: 0;
    }

    &:nth-child(4) {
      margin-top: 0;
    }
  }
}

.places__picture {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.places__item:hover .places__view {
  display: block;
}

.places__item:hover {
  opacity: 0.7;
}

.places__bottom-text {
  @include font-set(24px, auto, 500);
  position: absolute;
  background-color: $white;
  letter-spacing: -0.41px;
  color: $dark;
  width: 215px;
  padding: 22px 0;
  left: 68px;
  bottom: -20px;
  text-align: center;

  @media (max-width: $tablet-width) {
    left: 36px;
  }
}

.places__image {
  @media (max-width: $tablet-width) {
    width: 288px;
    height: 425px;
  }
}

.places__view {
  @include font-set(14px, auto, 500);
  position: absolute;
  letter-spacing: 2px;
  color: $white;
  width: 266px;
  min-height: 77px;
  border: 1px solid $white;
  padding: 22px 0;
  left: 42px;
  bottom: 200px;
  box-sizing: border-box;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  display: none;

  @media (max-width: $tablet-width) {
    width: 200px;
    min-height: 50px;
  }
}
