.prices {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    align-items: center;
  }
}

.prices__content {
  display: grid;
  grid-template-columns: 397px 452px 456px;
  grid-template-areas: "complex economy price";

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "price price"
      "complex economy";
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    grid-template-areas: "price"
      "complex"
      "economy";
    padding: 0;
    gap: 30px;
  }
}

.prices__card {
  display: flex;
  flex-direction: column;
  width: 370px;
  min-height: 672px;
  border: 1px solid $dark-opacity;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 40px 30px 20px;

  @media (max-width: $tablet-width) {
    width: 288px;
    min-height: 629px;
    padding: 30px 20px 0;
    align-items: center;
    margin-left: 70px;
    border-bottom: none;
    justify-content: flex-end;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    min-height: 614px;
  }
}

.prices__card--complex {
  grid-area: complex;
}

.prices__card--economy {
  grid-area: economy;

  @media (max-width: $tablet-width) {
    margin-left: 25px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }
}

.prices__card--economy .prices__card-list {
  margin-bottom: 18px;
}

.prices__card--economy .prices__card-item {
  margin-bottom: 14px;

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.prices__card-title {
  @include font-set(28px, 34px, 600);
  letter-spacing: -1.27px;
  color: $deep-dark;
  opacity: 0.7;
  margin: 0 0 37px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    @include font-set(24px, 38px, 600);
    width: 200px;
    text-align: center;
    margin: 0 0 19px;
  }

  @media (max-width: $mobile-width) {
    @include font-set(24px, 34px, 600);
    letter-spacing: 0;
    margin: 0 0 24px;
  }
}

.prices__card-slogan {
  @include font-set(16px, 24px, 400);
  color: $dark;
  position: relative;
  width: 289px;
  margin: 0 0 60px;

  @media (max-width: $tablet-width) {
    text-align: center;
    width: 260px;
    margin: 0 0 29px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 75px;
    width: 310px;
    height: 1px;
    background-color: $dark;
    opacity: 0.3;

    @media (max-width: $tablet-width) {
      width: 248px;
      left: 8px;
    }
  }
}

.prices__card-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 45px;

  @media (max-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.prices__card-item {
  @include font-set(16px, 32px, 400);
  color: $dark;
  position: relative;
  width: 280px;
  margin-bottom: 11px;
  padding-left: 30px;

  @media (max-width: $tablet-width) {
    width: 220px;
    margin-bottom: 8px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 16px;
    height: 10px;
    border-left: 1px solid $dark;
    border-bottom: 1px solid $dark;
    box-sizing: border-box;
    transform: rotate(-45deg);
  }
}

.prices__card-button {
  width: 310px;
  padding: 30px 0;

  @media (max-width: $tablet-width) {
    width: 288px;
    padding: 16px 0;
  }
}

.prices__card-currrency {
  @media (max-width: $tablet-width) {
    @include font-set(25px, 34px, 700);
  }
}

.prices__contacts {
  display: flex;
  flex-direction: column;
  width: 370px;
  padding: 108px 30px 30px;
  grid-area: price;

  @media (max-width: $tablet-width) {
    display: block;
    width: auto;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 0;
  }
}

.prices__contacts-title {
  @include font-set(55px, 90px, 600);
  color: $dark;
  margin: 0 0 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 175px;
    height: 3px;
    background-color: $basic;
    top: 105px;
    left: 0;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    @include font-set(30px, 150%, 600);
    text-align: center;
    margin: 0 0 5px;
  }

  @media (max-width: $mobile-width) {
    @include font-set(24px, 150%, 600);
  }
}

.prices__contacts-text {
  @include font-set(16px, 170%, 400);
  color: $dark;
  opacity: 0.7;
  width: 299px;
  margin-bottom: 62px;

  @media (max-width: $tablet-width) {
    width: auto;
    text-align: center;
    margin-bottom: 32px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 23px;
  }
}

.prices__contacts-call {
  @include font-set(22px, 34px, 500);
  color: $deep-dark;
  margin: 0 45px 15px;

  @media (max-width: $tablet-width) {
    @include font-set(18px, 34px, 500);
    width: auto;
    text-align: center;
    margin: 0 45px 12px;
  }
}

.prices__contacts__phone {
  @include font-set(20px, 32px, 400);
  color: $black;
  position: relative;
  margin-left: 45px;

  @media (max-width: $tablet-width) {
    @include font-set(18px, 32px, 400);
    width: auto;
    text-align: center;
    color: $basic;
    text-decoration: underline;
    display: block;
    margin: 0;
  }
}

.prices__contacts__phone-icon {
  position: absolute;
  top: 0;
  left: -45px;
  fill: transparent;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
