.questions {
  width: 844px;
  min-height: 455px;
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
  position: relative;
  z-index: 2;
}

.questions__wrapper {
  width: 656px;
  height: 315px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 45px;
  box-sizing: border-box;
  background-color: $white;
  box-shadow: 0 4px 30px $shadow;
  border-radius: 5px;
  position: absolute;
  top: 71px;
  right: 364px;
}

.questions__header {
  @include font-set(25px, 32px, 600);
  color: $deep-dark;
  text-align: center;
  margin: 0;
}

.questions__text {
  @include font-set(16px, 150%, 400);
  color: $deep-dark;
  margin-bottom: 20px;
}

.questions__form-phone {
  width: 269px;
  height: 46px;
  border-color: $dark-opacity;

  &::placeholder {
    @include font-set(14px, auto, 400);
    color: $deep-dark;
  }
}

.questions__inputs {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 27px;
}

.questions__form-email {
  width: 269px;
  height: 46px;
  border-color: $dark-opacity;

  &::placeholder {
    @include font-set(14px, auto, 400);
    color: $deep-dark;
    padding-left: 15px;
  }
}

.questions__button {
  width: 176px;
  padding: 15px 0;
  border: none;
}

.questions__image {
  width: 844px;
  height: 455px;
}
